body{
	background: rgb(10,77,104);
	background: linear-gradient(90deg, rgba(10,77,104,1) 0%, rgba(10,77,104,1) 35%, rgba(5,191,219,1) 100%);
	/*Realizado con esta página https://cssgradient.io/*/
}
.contenedor{
	position: relative;
	margin: 0 auto;
	justify-content: center;
	width: 1000px;
	font-family: 'Trebuchet MS', sans-serif;
	background-color: white;
}

/*HEADER*/
body header{
	background-color: white;
	padding: 15px 40px;
	border-bottom: 15px #0A4D68 solid;
	font-size: 24px;
	line-height: 40px;
}
header img{
	width: 200px;
}
header h1{
	color: #0A4D68;
	text-align: right;
	float: right;
	text-shadow: 0px 1px 2px #333333;
}

/*BARRA NAVEGACIÓN*/
nav{
	width: 100%;
	background-color: #088395;
	padding: 10px 0px;
	border-bottom: 10px #0A4D68 solid;
}
nav ul{
	height: 40px;
	background-color: #088395;
	text-shadow: 0px 1px 2px #333333;
	text-align: center;
	margin: auto;
}
nav li{
	color: white;
	font-size: 18px;
	display: inline;
	background-color: #088395;
	margin: 0 15px;
	padding: 8px 2px;
	border-bottom: 2px white solid;
	border-top: 2px white solid;
	text-align: center;
	float: left;
}
nav li a{
	color: white;
	text-decoration: none;
}
nav li:hover{
	background-color: #0A4D68;
	color: #00FFCA;
	border-bottom: 2px #0A4D68 solid;
	border-top: 2px #0A4D68 solid;
}
nav li a:hover{
	background-color: #0A4D68;
	color: #00FFCA;
	border-bottom: 2px #0A4D68 solid;
	border-top: 2px #0A4D68 solid;
}

/*Form - Formulario*/
form {
	background-color: #d6eaf8;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px #065f6e;
  }
  
  fieldset {
	border: none;
  }
  
  label {
	display: block;
	text-align: left;
	margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
	border: 2px solid #444;
	padding: 10px;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
  }
  
  input[type="submit"] {
	background-color: #4CAF50;
	border: none;
	color: rgb(2, 11, 15);
	padding: 12px 28px;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
  }
  
  input[type="submit"]:hover {
	background-color: #19475e;
  }
  
  label[for="nombre"],
  label[for="apellido"],
  label[for="asunto"] {
	text-align: right;
	margin-right: 20px;
	width: 120px;
	display: inline-block;
	vertical-align: top;
  }
  
  input[type="text"][id="nombre"],
  input[type="text"][id="apellido"],
  textarea[id="asunto"] {
	display: inline-block;
	width: calc(100% - 140px);
  }
  
  label[for="edad"],
  label[for="email"],
  label[for="telefono"] {
	text-align: right;
	margin-right: 20px;
	width: 120px;
	display: inline-block;
	vertical-align: top;
  }
  
  input[type="text"][id="edad"],
  input[type="email"][id="email"],
  input[type="text"][id="telefono"] {
	display: inline-block;
	width: calc(100% - 140px);
  }
  fieldset {
	background-color: #007f7f;
  }
  input[type="text"] {
	width: 60%;
  }
  
  
/*FOOTER - PIE DE PÁGINA*/
footer{
	clear: both;
	background-color: #088395;
	padding: 2px 15px;
	height: 70px;
}
footer img {
	width: 20px;
}
.copyright{
	color: white;
	text-align: center;
	font-size: 12px;
}
.copyright img {
	width: 15px;
	margin-right: 3px;
}
.redes{
	float: right;
}
.redes img{
	display: inline;
}
/*DESPLEGABLE DE LA BARRA DE NAVEGACIÓN*/
.desplegable{
	position: relative;
}
.desplegable:hover ul{
	display: block;
	opacity: 1;
}
.desplegable ul{
	width: auto;
	height: auto;
	position: absolute;
	padding: 0px;
	margin: 29px 0px;
	text-shadow: 0px 1px 2px #333333;
	text-align: center;
	border-bottom: 2px #0A4D68 solid;
	border-top: 2px #0A4D68 solid;
	background-color: #0A4D68;
	opacity: 0;
	display: none;
}
.desplegable ul li{
	position: absolute;
	text-shadow: 0px 1px 2px #333333;
	text-align: center;
	border-bottom: 2px #0A4D68 solid;
	border-top: 2px #0A4D68 solid;
	background-color: #0A4D68;
	padding: 10px;
	width: 140px;
}
.desplegable ul li:hover{
	border-bottom: 2px #088395 solid;
	border-top: 2px #088395 solid;
	background-color: #088395;
}
.desplegable ul li a:hover{
	background-color: #088395;
}
.desp1{
	top: 40px;
}
.desp2{
	top: 80px;
}